node_modules
vendor
packages/*/dist
apps/*/dist
apps/*/build
coverage

publications/teste

lerna-debug.log
.bin/set_gh_token.sh

# ensure no secrets are committed
credentials.json
token.json

.nx
